
html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
  background: linear-gradient(#36404b, #1b2127) !important;
}
a{
  color: rgb(0, 172, 193);
}
